target/
/ruuvi-collector.properties
/ruuvi-names.properties
.idea/
*.iml
.settings
.vscode
.classpath
.factorypath
.project
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.jdt.apt.core.prefs
