[Unit]
Description=BLE Scanning Service
After=network.target
[Service]
Type=simple
ExecStart=/usr/bin/hcitool lescan --duplicates --passive
Restart=always
[Install]
WantedBy=multi-user.target
