[Unit]
Description=RuuviCollector Service
DefaultDependencies=False
After=network.target lescan.service
[Service]
Type=simple
WorkingDirectory=/opt/ruuvicollector
ExecStart=/usr/bin/java -jar /opt/ruuvicollector/ruuvi-collector-0.2.jar                             
Restart=always
[Install]
WantedBy=multi-user.target
